@page "/EmploymentDataSummary"

@using AxisPensionsEmployeeSystem.Models
@using DataAccessLibrary;
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config



@if (employmentDatas == null)
{
    <p>Loading</p>
}else{
      <h3>Employment Data Summary</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#Employment Id</th>
      <th scope="col">Employee Biodata Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Designation</th>
      <th scope="col">Job grade</th>
      <th scope="col">Employee Type</th>
      <th scope="col">Head of Department Name</th>
      <th scope="col">Contract Frequency Code</th>
      <th scope="col">Contract Duration</th>
    </tr>
  </thead>
    
  <tbody>
@foreach(var a in employmentDatas)
  { 
    <tr>
      <th scope="row">@a.</th>
      <td>Mark</td>
    </tr>

    <tr> 
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
  }
  </tbody>
  
</table>
}
@code {
    List<EmploymentData> employmentDatas;

    //Load the intial Data
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT *FROM employmentdata";
        employmentDatas = await _data.LoadData<EmploymentData, dynamic>(sql, new {}, 
        _config.GetConnectionString("DbConnection"));
    }
 }
