@page "/EmploymentDataSummary"
@using AxisPensionsEmployeeSystem.Models
@using DataAccessLibrary;
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config



<h3>EmploymentDataSummary</h3>
@if (employmentDatas == null)
{
    <p>Loading</p>
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>

    <tr> 
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
@code {
    List<EmploymentData> employmentDatas;

    //Load the intial Data
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT *FROM employmentdata";
        employmentDatas = await _data.LoadData<EmploymentData, dynamic>(sql, new {}, _config.GetConnectionString("DbConnection"));
    }
}
