@page "/employmentdata"

<h3>Add Employment Data</h3>

<form class="row g-3">
 <div class="col-12">
    <label for="EmploymentId" class="form-label">Employment Id</label>
    <input type="text" class="form-control" id="EmploymentId" placeholder="EmploymentId">
 </div>
 <div class="col-12">
    <label for="EmployeeBiodataId" class="form-label">EmployeeBiodata Id</label>
    <input type="text" class="form-control" id="EmployeeBiodataId" placeholder="EmployeeBiodataId">
 </div>
  <div class="col-12">
    <label for="FirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="FirstName" placeholder="First Name">
  </div>
  <div class="col-12">
    <label for="SurName" class="form-label">Sur Name</label>
    <input type="text" class="form-control" id="SurName" placeholder="Sur Name">
  </div>
  <div class="col-12">
    <label for="designation" class="form-label">Designation</label>
    <input type="text" class="form-control" id="designation" placeholder="designation">
  </div>
  <div class="col-12">
    <label for="Jobgrade" class="form-label">Job Grade</label>
    <input type="text" class="form-control" id="Jobgrade" placeholder="Job Grade">
  </div>
  <div class="col-12">
    <label for="EmployeeType" class="form-label">Employee Type</label>
    <input type="text" class="form-control" id="EmployeeType" placeholder="Employee Type">
  </div>
  <div class="col-12">
    <label for="HeadOfDepartmentName" class="form-label">Head Of Department Name</label>
    <input type="text" class="form-control" id="HeadOfDepartmentName" placeholder="Head Of Department Name">
  </div>
  <div class="col-12">
    <label for="ContractFrequencyCode" class="form-label">Contract Frequency Code</label>
    <input type="text" class="form-control" id="ContractFrequencyCode" placeholder="Contract Frequency Code">
  </div>
  <div class="col-12">
    <label for="ContractDuration" class="form-label">Contract Duration</label>
    <input type="text" class="form-control" id="ContractFrequencyCode" placeholder="Contract Duration">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-secondary">Submit</button>
  </div>
</form>
@code {

}
