@inherits LayoutComponentBase

<PageTitle>Axis Pensions</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          <a href="#" target="">Login</a>
          <a href="#" target="">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
